@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

:root {
  /* Palette */
  --first: #B7AC98;
  --second: #392B1E;
  --third: #906427;
  --fourth: #5A5A5A;
  --fifth: #DFDFDF;
};
* {
  background-color: var(--second);
}
h1, a {
  color: var(--third);
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-weight: 700;
}
body, p, ul, li {
  font-family: 'Lora', serif;
  color: #392B1E;
}
.bouton {
  margin: 2rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: #906427;
  color: #DFDFDF;
  border: none;
}
.bouton:hover {
  cursor: pointer;
  transition: 1s;
  background-color: #705530;
}