<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
        <title>{% block title %}Quai Antique{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    </head>
    <body>
        {% block header %}
          {% include 'header.html.twig' %}
        {% endblock %}

        {% block body %}
          <h1 class="mt-5">Quai Antique</h1>
          <p class="mt-5">Bonjour</p>
          <i class="fa-sharp fa-solid fa-user"></i>
          <i class="fa-sharp fa-solid fa-image"></i>
          <br>
          <button class="bouton">Réserver une table</button>
        {% endblock %}
           
        {% block footer %}
          {% include 'footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>

<style>
html, *, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  margin: 2rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
body {
  min-height: 100vh;
}
button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: darkgrey;
}
 body {
  text-align: center;
 }
 h1 {
    margin: 3rem;
 }
 .active {
  color: white;
  text-decoration: underline;
 }
</style> 