{% extends "index.html.twig" %}

  {% block body %}
    <h1 class="mt-5">Carte</h1>
    <p>Bienvenue sur la Page. Retrouvez nos cartes, menus et tarifs</p>
    <button class="bouton">Appuyer</button>
  {% endblock %}
           

{% block stylesheets %}
  <style>
    a {
      
    }
  </style>
{% endblock %}