{% extends "index.html.twig" %}

  {% block body %}
    <h1 class="mt-5">Carte</h1>
    <p>You have {{ notifications|length }} new notifications.</p>
      <p>{{ notifications[0]}}</p>
      <p>{{ notifications[1]}}</p>
    <button class="bouton">Appuyer</button>
  {% endblock %}
           

{% block stylesheets %}
  <style>
    a {
      
    }
  </style>
{% endblock %}